<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quiz.lesson03.mapper.RealEstateMapper">
	<select id="selectRealEstateBy" parameterType="int" resultType="com.quiz.lesson03.domain.RealEstate">
		SELECT
			`id`,
			`realtorId`,
			`address`,
			`area`,
			`type`,
			`price`,
			`rentPrice`,
			`createdAt`,
			`updatedAt`
		FROM
			`real_estate`
		Where
			`id` = #{id}
	</select>
	<select id="selectRealEstateListByRentPrice" parameterType="int" resultType="com.quiz.lesson03.domain.RealEstate">
		SELECT
			`id`,
			`realtorId`,
			`address`,
			`area`,
			`type`,
			`price`,
			`rentPrice`,
			`createdAt`,
			`updatedAt`
		FROM
			`real_estate`
		Where
			`rentPrice` &lt; #{rentPrice}		
	</select>
	<select id="selectRealEstateListByAreaAndPrice" parameterType ="map" resultType="com.quiz.lesson03.domain.RealEstate">
		SELECT
			`id`,
			`realtorId`,
			`address`,
			`area`,
			`type`,
			`price`,
			`rentPrice`,
			`createdAt`,
			`updatedAt`
		FROM
		<![CDATA[
			`real_estate`
		Where
			`type` = '매매'
		AND
			`area` >= #{area}
		AND	
			`price` <= #{price}
		]]>
	</select>
	<insert id="insertRealEstate" parameterType="com.quiz.lesson03.domain.RealEstate">
		INSERT Into `Real_Estate`
			(
				`realtorId`,
				`address`,
				`area`,
				`type`,
				`price`,
				`rentPrice`,
				`createdAt`,
				`updatedAt`
			)
		value
			(
				#{realtorId}
				, #{address}
				, #{area}
				, #{type}
				, #{price}
				, #{rentPrice}
				, NOW()
				, NOW()
			)	
	</insert>
	<insert id="insertRealEstateAsField" parameterType="map">
		INSERT INTO `Real_Estate`
			(
				`realtorId`,
				`address`,
				`area`,
				`type`,
				`price`,
				`rentPrice`,
				`createdAt`,
				`updatedAt`
			)
		value
			(
				#{realtorId}
				, #{address}
				, #{area}
				, #{type}
				, #{price}
				, #{rentPrice}
				, NOW()
				, NOW()
			)	
	</insert>
	<update id="updateRealEstateById" parameterType="com.quiz.lesson03.domain.RealEstate">
		UPDATE `Real_Estate`
		SET
			`address` = #{address}
			,`area` = #{area}
			,`type` = #{type}
			,`price` = #{price}
			,`rentPrice` = #{rentPrice}
			,`createdAt` = NOW()
			,`updatedAt` = NOW()
		WHERE `id` = #{realtorId}

	</update>	
</mapper>