@charset "UTF-8";

#wrap {
	width: 690px;
}

.articleForSellerInfo{
	width: 222px;
	height:	222px;
}
.articleForSell{
	gap:12px 12px;		
}

.nicknameSeller{
	font-size: 200%;
}

.temperatureSeller{
	font-size: 150%;
	font-weight:bolder;
	color: orange;
}