@charset "UTF-8";

#titleView {
	height: 125px;
}

.articleRect {
	height: 135px;
	border-width: medium;
}

.articleRect:hover {
	background-color: #dceef8;
}

.userNameReview{
	font-size: 125%;
	font-weight: bolder;
}
.updatedAtReview{
	font-size: 75%;
	color:gray;
}
.textReview{
	height:24px;
	margin-top: 3px;
	font-weight: bold;
}
.badgeMenuReview{
	font-size: 75%;
	color: #000;
	background-color: #ccc;
}

