<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>bookingList</title>
    <!-- jQuerry랑 bootStrap 관련 파일들 static에 저장되있어야 -->
	<script src="/js/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

	<!-- bootstrap -->
	<link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<script src="/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
	
    <link rel="stylesheet" href="/booking/booking_style.css">
</head>
<body>
	<div id="wrap" class="container px-5 pb-4">
		<header th:replace="~{/booking/checkBooking :: headerHomeBooking}" class="h-100">
		</header>
		<section class="contents">
			<!-- Model Attributes : List<Bookings> listBookings -->
			<article>
				<table class="table table-hover table-striped text-center">
					<thead>
						<tr>
							<th>이름</th>
							<th>예약날짜</th>
							<th>숙박일수</th>
							<th>숙박인원</th>
							<th>전화번호</th>
							<th>예약상태</th>
							<th><!-- 삭제칸 --></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="booking: ${listBookings}">
							<td th:text="${booking.name}" class="pt-3"></td>
							<td th:text="${#temporals.format(booking.date, 'yyyy년 M월 d일')}" class="pt-3"></td>
							<td th:text="${booking.day}" class="pt-3"></td>
							<td th:text="${booking.headcount}" class="pt-3"></td>
							<td th:text="${booking.phoneNumber}" class="pt-3"></td>
							<td class="pt-3">
								<th:block th:switch="${booking.state}">
									<span th:case="대기중" class="text-info" th:text="${booking.state}"></span>
									<span th:case="확정" class="text-success" th:text="${booking.state}"></span>
									<span th:case="취소" class="text-danger" th:text="${booking.state}"></span>
								</th:block>
							</td>
							<td class="pt-2">
								<button class="btnDeleteBooking btn btn-danger" th:data-id-booking="${booking.id}" th:text="'삭제'"></button>
							</td>
						</tr>
					</tbody>
				</table>
			</article>
		</section>
		<!-- <footer th:replace="~{/booking/checkBooking :: footerHomeBooking}"  class="px-4 pt-4">
		</footer> -->
	</div>
	<script>
		$(document).ready(function(){

			$(".btnDeleteBooking").on('click', function(){

				let idBooking = $(this).data("id-booking"); //꼭 data-'소문자(camel case)'로 지어야
					//클래스 변수로 가져왔지만, click 이벤트가 일어난 곳은 $(this)라는 테그 하나 뿐이라는 점이 중요!
				//console.log(idBooking);

				$.ajax({
					// Request
						//form 테그에는 이제 Delete테그를 넣을 수 없다고 에러가 뜬다.
						//Ajax는 전부 다 된다.
					type: "Delete"
					, url: "/booking/delete-booking"
					, data: {"id" : idBooking}
					
					// Response
					, success : function (data){ //JSON String으로 받은 데이터를 Dictionary 타입의 data라는 변수로 받아오겠다는 맥락!
						//{"code":200, "result" : "success"}
						if(data.code == 200){
							alert("삭제되었습니다.")
							location.reload(true);
						} else if (data.code == 500){
						//{"code": 500, "error_message": "에러의 원인"}
							alert(data.error_message)
						}
					}
					, error: function(xhr, status, error){
						alert('삭제 실패 하였습니다. \n 관리자에게 문의하여 주십시오.')
					}
				})
			})
			
		});
	</script>
	
</body>
</html>