<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
    <head>
        <title>통나무 펜션</title>
        <!-- jQuery -->
        <script src="/js/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        
        <!-- jQuery datepicker ;부트스트랩이랑 겹치는 게 없다 -->
        <script src="/js/jquery-ui.js"></script>
        <link rel="stylesheet" href="/css/jquery-ui.css">
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <script src="/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/booking/booking_style.css">
    </head>
    <body>
        <div id="wrap" class="container px-5 pb-4">
            <header th:fragment="headerHomeBooking" class="h-100">
                <div class="d-flex">
                    <a id="titleHomeBooking" class="display-4 mx-auto my-3" href="/booking/check-booking-view">통나무 펜션</a>
                </div>
                <nav class="menu">
                    <ul class="nav justify-content-around w-100">
                        <li class="nav-item col-3 mx-auto">
                            <a class="nav-link text-center" href="/booking/check-booking-view">팬션소개</a>
                        </li>
                        <li class="nav-item col-3">
                            <a class="nav-link text-center" href="#">객실보기</a>
                        </li>
                        <li class="nav-item col-3">
                            <a class="nav-link text-center" href="/booking/make-booking-view">예약하기</a>
                        </li>
                        <li class="nav-item col-3">
                            <a class="nav-link text-center" href="/booking/booking-list-view">예약목록</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <section class="contents">
                <div class="banner_main">
                    <img id="banner" class="w-100 h-100" src="/img/test06_banner1.jpg">
                </div>
                <section class="downside w-100 d-flex">
                    <div class="side-left col-4 text-white d-flex justify-content-center">
                        <p class="my-auto">실시간<br> 예약하기</p>
                    </div>
                    <div class="verify-rsv col-4 px-0 pt-2 d-flex flex-column justify-content-around align-content-end">
                        <div class="d-flex text-white py-2 px-2 justify-content-between">
                            <span class="ml-3 text-center">
                            	<h4 class="m-0">
                            		예약 확인
                           		</h4>
                        	</span>

                        </div>
                        <div class="member-verify-reservation flex-column justify-content-around mr-3">
                            <div class="section_id d-flex justify-content-end">
                                <span class="name_input text-white col-4 my-auto px-2">
                                	이름
                               	</span>
                                <input id="text_nameGuest" class="form-control form-control-sm col-7" type="text">
                            </div>
                            <div class="section_ps d-flex justify-content-end pt-2">
                                <span class="name_input text-white col-4 my-auto px-2">
                                	전화번호
                               	</span>
                                <input id="text_phoneNumber" class="form-control form-control-sm col-7" type="text" placeholder="예) 010-1234-5678">
                            </div>
                        </div>
                        <div class="d-flex justify-content-end pb-3">
                            <button type="submit" id="btn-check-resevation" class="btn btn-success py-0 mr-3 col-5">
                            	조회하기
                           	</button>
                        </div>
                    </div>
                    <div class="side-right col-4 d-flex justify-content-center">
                        <div class="text-white my-auto">
                            <h2 class="">예약문의:</h3>
                            <h2 class="">010 -<br>
                            0000 - 1111</h4>
                        </div>
                    </div>
                </section>
            </section>
            <footer th:fragment="footerHomeBooking" class="px-4 pt-4">
                <adress>
                    <small class="text-secondary">
                        제주특별자치도 제주시 애월읍<br>
                        사업자등록번호:111-222-255222 / 농어촌민박사업자지정 / 대표: 서리태 <br>
                        Copyright 2024 tongnamu.All right reserved.
                    </small>
                </adress>
            </footer>
        </div>

        <!-- Javascript -->
        <script>
            $(document).ready(function(){
                $("#btn-check-resevation").on('click',function(){
	                let nameGuest = $("#text_nameGuest").val().trim();
	                let phoneNumber = $("#text_phoneNumber").val();
	                if(nameGuest == ""){
	                    alert("이름을 입력해 주세요.");
	                    return;
	                }
	                
	                let regex = /^(01[0-9]{1}-?[0-9]{4}-?[0-9]{4}|01[0-9]{9})$/
	                if(regex.test(phoneNumber) == false){
	                    alert("올바른 전화번호를 입력하여 주십시오.")
	                    return
	                }
	                let regexSerial = /^(01[0-9]{9})$/;
                 	if(regexSerial.test(phoneNumber) == true){
                 		phoneNumber = "".concat(phoneNumber.slice(0,3), '-', phoneNumber.slice(3,7), '-', phoneNumber.slice(7,11));
                 	}
                        
               		$.ajax({
               			type:"Post"
               			, url: "/booking/check-booking"
               			, data: JSON.stringify({ "name": nameGuest
               					, "phoneNumber": phoneNumber
            			})
               			, dataType : "json"
               			, contentType: "application/json"
               			, success : function(data){
       						//{"code":200, "result" : "success"}
       						if(data.code == 200){
       							let booking = data.result;
       							alert(
	 								"이름: " + booking.name
	     							+ "\n날짜: " + booking.date
	     							+ "\n일수: " + booking.day
	     							+ "\n인원: " + booking.headcount
	     							+ "\n상태: " + booking.state );
     							$("#text_nameGuest").val("");
     							$("#text_phoneNumber").val("");
       						} else if (data.code == 500){
       							alert(data.error_message)
     							$("#text_nameGuest").val("");
     							$("#text_phoneNumber").val("");
       						}
                        }
       					, error: function(xhr, status, error){
       						alert('조회 실패 하였습니다.')
               			}
                    })    
                })

                let images = ["/img/test06_banner1.jpg","/img/test06_banner2.jpg","/img/test06_banner3.jpg","/img/test06_banner4.jpg"]
                let count = 0

                /* setInterval(function(){ 
                        let idx_cur = count
                            //계속 순회하도록 하려면, 배열 변수가 바깥에 있어야 한다.
                        let idx_next = (count + 1) % images.length  //배열의 길이를  동적으로 바꾸겠다는 뜻
                        count = idx_next
                    
                        $('#banner').attr('src', images[idx_next])
                    }, 3000 ) */
            })
        </script>
    </body>
</html>