<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
	<head>
	    <meta charset="utf-8">
	    <title>예약하기</title>
        <!-- jQuery -->
        <script src="/js/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        
        <!-- jQuery datepicker ;부트스트랩이랑 겹치는 게 없다 -->
        <script src="/js/jquery-ui.js"></script>
        <link rel="stylesheet" href="/css/jquery-ui.css">
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <script src="/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/booking/booking_style.css">	
	</head>
	<body>
	
	</body>
</html>