@charset "UTF-8";

#wrap {
	min-height: 500px;
}

a, a:hover {
	color: #000;
}

#menuWeather {
	color: #FFF;
}

#menuWeather a {
	color: #FFF;
	font-size: 150%;
	font-weight: bold;	
}

#menuWeather a:hover {
	color: #FFF;
	background-color: highlight;
}
