@charset "UTF-8";

#wrap {
	min-height: 500px;
}

a, a:hover {
	color: #000;
}

#titleLogoAside{
	font-size:125%
}

#menuWeather {
	color: #FFF;
}

#menuWeather a {
	color: #FFF;
	font-size: 125%;
	font-weight: bold;	
}

#menuWeather a:hover {
	color: #FFF;
	background-color: skyblue;
}

#logoFooter {
	
	filter: grayscale(100%) ;
}