@charset "UTF-8";

#wrap {
	min-height: 500px;
}

a, a:hover {
	color: #000;
}

.contents > aside{
	min-height: 500px;
}

#titleLogoAside{
	font-size:125%
}

#menuWeather {
	color: #FFF;
}

#menuWeather a {
	margin-bottom: 3px;
	color: #FFF;
	font-size: 125%;
	font-weight: bold;	
	border: 1px solid transparent;
	border-radius: 1em;
}

#menuWeather a:hover {
	margin-bottom: 3px;
	color: #FFF;
	border: 1px solid #FFF;
	border-radius: 1em;
}

#logoFooter {
	
	filter: grayscale(100%) ;
}