<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title></title>
    <!-- jQuerry랑 bootStrap 관련 파일들 static에 저장되있어야 -->
	<script src="/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

	<!-- bootstrap -->
	<link rel="stylesheet" href="/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<script src="/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
	<div id="wrap" class="container">
		<!-- Model Attributes:
			List<String> musicRanking
			,List<Map<String, Object>> membership -->
		<section class="contents">
			<article class="tableMusicRanking w-50 mx-auto">
				<h3>HOT5</h3>
				<table class="table table-striped table-hover text-center">
					<thead class="table">
						<tr>
							<th>순위</th>
							<th>제목</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each=" music, status : ${musicRanking}">
							<th th:text="${status.index + 1}"></th>
							<td th:text="${music}"></td>
						</tr>
					</tbody>
				</table>
			</article>
			
			<article class="tableMembership mt-4 w-75 mx-auto">
				<h3>멤버쉽</h3>
				<table class="table table-striped table-hover text-center">
					<thead>
						<tr>
							<th class="col-3">이름</th>
							<th class="col-3">전화번호</th>
							<th class="col-3">등급</th>
							<th class="col-3">포인트</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="member : ${membership}">
							<td th:text="${member.name}"></td>
							<td th:text="${member.phoneNumber}"></td>
							<div th:switch="${member.grade}">
								<p th:case="'VIP'"> <td th:text="${member.grade}" th:classappend="'text-danger font-weight-bold'"></td> </p>
								<p th:case="'GOLD'"> <td th:text="${member.grade}" th:classappend="'text-warning font-weight-bold'"></td> </p>
								<p th:case="*"> <td th:text="${member.grade}" th:classappend="'text-dark'"></td> </p>
							</div>							
							<td th:text="${member.point} + P" th:classappend="${member.point >= 5000} ?'text-primary font-weight-bold'"></td>
						</tr>
					</tbody>
				</table>
			</article>
		</section>
	</div>

</body>
</html>