<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title></title>
    <!-- jQuerry랑 bootStrap 관련 파일들 static에 저장되있어야 -->
	<script src="/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

	<!-- bootstrap -->
	<link rel="stylesheet" href="/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<script src="/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
	<div id="wrap" class="container">
		<header>
		</header>
		<section class="contents">
			<div class="d-flex justify-content-between">
				<div class="h2 my-2 py-2">즐겨찾기 추가하기</div>
				<a href="/lesson06/List-bookmarks-view" class="form-control col-4 btn btn-primary my-auto">즐겨찾기 목록</a>
			</div>		
			<form method="post" action="/lesson06/quiz01/add-bookmark">
				<div class="form-group">
					<label for="name" class="h5">제목</label>
					<input id="name" name="name" type="text" class="form-control col-5">
				</div>
				<div class="form-group">
					<label for="url" class="h5">주소</label>
					<div class="form-row">
						<div class="col-md-10 mb-3">
							<input id="url" name="url" type="text" class="form-control" aria-describedby="feedbackUrlDuplicateCheck" required>
							<div id="feedbackUrlDuplicateCheck" class="invalid-feedback">
								중복된 URL입니다.
							</div>
						</div>
						<div class="col-md-2 mb-3">
							<button type="button" id="btnUrlDuplicateCheck" class="btn btn-info w-100"> 중복 확인 </button>
						</div>
					</div>
				</div>
				<button type="button" id="btnAdd" class="btn btn-success w-100">추가</button>
			</form>
		</section>
	</div>

	<script>
		$(document).ready(function(){
			let hasUrlDuplicateChecked = false;
			
			$("#url").on('change', function(){
				
				hasUrlDuplicateChecked = false;
				
				$("#url").removeClass("is-valid");
				$("#url").addClass("is-invalid");
				
				$("#feedbackUrlDuplicateCheck").removeClass("valid-feedback")
				$("#feedbackUrlDuplicateCheck").addClass("invalid-feedback");				
				$("#feedbackUrlDuplicateCheck").text("중복 확인 버튼을 눌러주세요.")
			})
			
			$("#btnUrlDuplicateCheck").on('click', function(){
				let url = $("#url").val().trim();
				$("#url").removeClass("is-valid")
				$("#url").removeClass("is-invalid")
				if(!url){
					alert("URL을 기재해주세요.");
					return;
				}
				if(!url.startsWith("https") && !url.startsWith("http")){
					alert("https 형식에 맞게 작성해주세요.");
					return;
				}				
				$.ajax({
					type:"Post"
					, url: "/lesson06/check-url-duplicate"
					, data: {"url": url}
					// response
					// callback 함수
					, success:function(data){
						hasUrlDuplicateChecked = true;
						if(data.result == "success"){
							$("#url").removeClass("is-invalid");
							$("#url").addClass("is-valid");
							
							$("#feedbackUrlDuplicateCheck").removeClass("invalid-feedback")
							$("#feedbackUrlDuplicateCheck").addClass("valid-feedback");
							$("#feedbackUrlDuplicateCheck").text("저장가능한 URL입니다.")
						} else{
							$("#url").removeClass("is-valid");
							$("#url").addClass("is-invalid");
							
							$("#feedbackUrlDuplicateCheck").removeClass("valid-feedback")
							$("#feedbackUrlDuplicateCheck").addClass("invalid-feedback");
							$("#feedbackUrlDuplicateCheck").text("중복된 URL입니다.")
						}
					}
					, error:function(xhr, status, error){
						//alert(`${xhr}, ${status}, ${error}`)
						alert("해당 URL을 조회하지 못하였습니다.");
						
					}
				})
			})
			
			$("#btnAdd").on("click", function(){

				//name , url
				let name = $("#name").val().trim();
				if(name.length < 1){
					alert("즐겨찾기 제목을 입력하세요.")
					return;
				}

				let url = $("#url").val().trim();
				
				if(hasUrlDuplicateChecked == false){
					console.log("hasDuplicateChecked: " + hasUrlDuplicateChecked);
					alert("즐겨찾기 URL을 입력 후, 중복 확인하여 주십시오.");
					return;
				}
				
				let isUrlDuplicate = $("#url").hasClass("is-invalid");
				
				if(isUrlDuplicate == true){
					console.log("isUrlDuplicate: " + isUrlDuplicate);
					alert("중복한 URL이 존재합니다. 다른 URL을 기입하여 주십시오.");
					return;
				}
				console.log(`${name}, ${url}, ${hasUrlDuplicateChecked}`)
					
				$.ajax({
					type:"POST"
					, url:"/lesson06/add-bookmark"
					, data:{"name":name, "url":url}
					
					// response
					// callback 함수
					, success:function(data){ //Data: String으로 온다!
						//{"code" : 200, "result": "성공" }
						//alert(data); //이 경우에는 [object Object]라고 나온다;
						
						//jQuery의 ajax에서는 JSON이 넘어온다는 것을 알고,
							//Parsing까지 마무리 된 <Dictionary>로 나타내준다.
						
						if(data.result == "success"){
							location.href= "/lesson06/List-bookmarks-view";
						}
					}
					, error:function(xhr, status, error){
						//만약에 실패를 한다고 하면 사용자가 보기 좋게, alert에 안내문을 기재하는 것이 좋다.
						//alert(error: `${xhr}, ${status}, ${error}`)
						alert("중복 확인에 실패하였습니다.");
					}
				})			
			}); //-- 추가 버튼 이벤트 끝
		}); //- Ready 
	</script>
</body>
</html>