<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title></title>
    <!-- jQuerry랑 bootStrap 관련 파일들 static에 저장되있어야 -->
	<script src="/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

	<!-- bootstrap -->
	<link rel="stylesheet" href="/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<script src="/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
	<div id="wrap" class="container">
		<header>
		</header>
		<section class="contents">
			<div class="h2 my-2 py-2">즐겨찾기 추가하기</div>
			<form method="post" action="/lesson06/quiz01/add-bookmark">
				<div class="form-group">
					<label for="name" class="h5">제목</label>
					<input id="name" name="name" type="text" class="form-control col-5">
				</div>
				<div class="form-group">
					<label for="url" class="h5">주소</label>
					<input id="url" name="url" type="text" class="form-control col-8">
				</div>
				<button type="button" id="btnSubmit" class="btn btn-success w-50 mx-auto">추가</button>
			</form>
		</section>
	</div>

	<script>
		$(document).ready(function(){
			$("#btnSubmit").on("click", function(){

				//name , url
				let name = $("#name").val().trim();
				if(name.length < 1){
					alert("즐겨찾기 제목을 입력하세요.")
					return;
				}

				let url = $("#url").val().trim();
				if(!url){
					alert("URL을 기재해주세요.");
					return;
				}

				if(url.split("://")[0] != "https" && url.split("://")[0] != "http"){
					alert("https 형식에 맞게 작성해주세요.");
					return;
				}
				console.log(`${name}, ${url}`)
					
				alert("성공");
				$.ajax({
					type:"POST"
					, url:"/lesson06/quiz01/add-bookmark"
					, data:{"name":name, "url":url}
					
					// response
					// callback 함수
					, success:function(data){
						if(data =="success"){
							location.href= "/lesson06/quiz01/show-List-bookmarks-view"
						}
					}
					, error:function(xhr, status, error){
						alert(`${xhr}, ${status}, ${error}`)
					}
				})			
			});
		});
	</script>
</body>
</html>